@import "../../variables";

pre{
    white-space: pre-wrap;
    word-break: break-word;
}

.badge{
    border-radius: 15px;
    font-size: 12px;
    margin-right: 10px;
    padding: 5px 10px;
}

.badge-success{
    background-color: $c-green;
    color: $c-bg;
}

.badge-secondary{
    background-color: $c-bg-dark;
    color: $c-green;
}
